body

/*#pass
{
 margin-left:25%;
 height:45px;
 width:500px;
 border-radius:3px;
 border:1px solid grey;
 padding:10px;
 font-size:18px;
}*/
#meter_wrapper
{
 border:1,5px solid grey;
 margin-left:;
 margin-top:20px;
 width:200px;
 height:10px;
 border-radius:3px;
}
#meter
{
 width:0px;
 height:8px;
 border-radius:
}
#pass_type
{
 font-size:15px;
 margin-left:;
 text-align:center;
 color:grey;
}